/* stylings for login form */
.loginColor{
    color: steelblue;
    text-align: center;
}
.forms{
    min-width: 500px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin-top: 20px;
    background-color: #FFF;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important;
    margin: auto;
    z-index: 2;
    display: block;
}
.forgetIt{
    font-size: 2px;
}